@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;600;700&display=swap');

:root{ /*"custom propiety", con la pseudo-clase root(para poder acceder a las custom propiety desde cualquier elemento)*/
    --padding-container: 100px 0; /*100 hacia arriba y 0 a los costados*/
    --color-tittle: #001A49; 

} /*creamos una variable*/

body{
    font-family: 'IBM Plex Sans', sans-serif;
}

.container{ /*modificamos el elemento container*/
    width: 90%; /*no use el 100% de la pag*/
    max-width: 1200px; /*ancho max*/
    margin: 0 auto; /*que el width se centre verticamente, con un margin auto a los lados*/
    overflow: hidden; /*todo lo q salga de ese elemento se esconda*/
    padding: var(--padding-container)/*para usar las custom propiety hay q usar la func VAR y dentro la nombre de la custom*/

}

.hero{
    width: 100%; /*100% de la pag*/ 
    height: 100vh; /*Viewport Height: del 100% del alto de la pantalla*/
    min-height: 600%; /*alto minim*/
    max-height: 800%; /*config para tablets*/
    position: relative; /*para q un elemento se posicione absolutamente a este contenedor*/
    display: grid; /*porq quiero crear 2 filas*/
    grid-template-rows: 100px 1fr;/*primera fila sea de 100px y la segunda (unidad relativa: fr) con lo sobrante*/
}

.hero::before{ /*pseudoelemento a partir de la clase hero*/
    content: "";
    position: absolute; /*para q se posicione absolutamente a su padre, q es hero*/
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url(../images/fondoInicio.jpg); /*180grados,degradado y un top 0%,  el otro color igual (capa de transparencia)*/
    background-size: cover; /*para q se adapte a la pagina*/
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);/*clippy css: visualizacion del recortamamiento de imagen */
    z-index: -1;
}   
.nav{
    --padding-container:0; 
    
}